<?xml version='1.0' encoding='utf-8'?>
<widget id="io.branch.sdk.testbed" version="1.0.9" ios-CFBundleShortVersionString="1.0.9" ios-CFBundleVersion="9" android-versionCode="9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Branch-Cordova-SDK-Testbed</name>
    <description>
	Test app for the Branch Cordova SDK
    </description>
    <content src="index.html" />
    <access origin="*" />
    <access origin="https://api.branch.io" />
    <platform name="ios">
        <preference name="BackupWebStorage" value="local"/>
    </platform>
</widget>
